# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_build/*
cover/*
MANIFEST
pai/pouw/verification/verifier_client/cmake-build-debug/CMakeCache.txt
pai/pouw/verification/verifier_client/cmake-build-debug/CMakeFiles/3.12.3/CMakeCCompiler.cmake
pai/pouw/verification/verifier_client/cmake-build-debug/CMakeFiles/3.12.3/CMakeCXXCompiler.cmake
pai/pouw/verification/verifier_client/cmake-build-debug/CMakeFiles/3.12.3/CMakeDetermineCompilerABI_C.bin
pai/pouw/verification/verifier_client/cmake-build-debug/CMakeFiles/3.12.3/CMakeDetermineCompilerABI_CXX.bin
pai/pouw/verification/verifier_client/cmake-build-debug/CMakeFiles/3.12.3/CMakeSystem.cmake
pai/pouw/verification/verifier_client/cmake-build-debug/CMakeFiles/3.12.3/CompilerIdC/CMakeCCompilerId.c
pai/pouw/verification/verifier_client/cmake-build-debug/CMakeFiles/3.12.3/CompilerIdC/a.out
pai/pouw/verification/verifier_client/cmake-build-debug/CMakeFiles/3.12.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
pai/pouw/verification/verifier_client/cmake-build-debug/CMakeFiles/3.12.3/CompilerIdCXX/a.out
pai/pouw/verification/verifier_client/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
pai/pouw/verification/verifier_client/cmake-build-debug/CMakeFiles/CMakeRuleHashes.txt
pai/pouw/verification/verifier_client/cmake-build-debug/CMakeFiles/Makefile.cmake
pai/pouw/verification/verifier_client/cmake-build-debug/CMakeFiles/Makefile2
pai/pouw/verification/verifier_client/cmake-build-debug/CMakeFiles/TargetDirectories.txt
pai/pouw/verification/verifier_client/cmake-build-debug/CMakeFiles/clion-environment.txt
pai/pouw/verification/verifier_client/cmake-build-debug/CMakeFiles/clion-log.txt
pai/pouw/verification/verifier_client/cmake-build-debug/CMakeFiles/cmake.check_cache
pai/pouw/verification/verifier_client/cmake-build-debug/CMakeFiles/feature_tests.bin
pai/pouw/verification/verifier_client/cmake-build-debug/CMakeFiles/feature_tests.c
pai/pouw/verification/verifier_client/cmake-build-debug/CMakeFiles/feature_tests.cxx
pai/pouw/verification/verifier_client/cmake-build-debug/CMakeFiles/progress.marks
pai/pouw/verification/verifier_client/cmake-build-debug/CMakeFiles/verifier_client.dir/CXX.includecache
pai/pouw/verification/verifier_client/cmake-build-debug/CMakeFiles/verifier_client.dir/DependInfo.cmake
pai/pouw/verification/verifier_client/cmake-build-debug/CMakeFiles/verifier_client.dir/build.make
pai/pouw/verification/verifier_client/cmake-build-debug/CMakeFiles/verifier_client.dir/cmake_clean.cmake
pai/pouw/verification/verifier_client/cmake-build-debug/CMakeFiles/verifier_client.dir/depend.internal
pai/pouw/verification/verifier_client/cmake-build-debug/CMakeFiles/verifier_client.dir/depend.make
pai/pouw/verification/verifier_client/cmake-build-debug/CMakeFiles/verifier_client.dir/flags.make
pai/pouw/verification/verifier_client/cmake-build-debug/CMakeFiles/verifier_client.dir/link.txt
pai/pouw/verification/verifier_client/cmake-build-debug/CMakeFiles/verifier_client.dir/progress.make
pai/pouw/verification/verifier_client/cmake-build-debug/CMakeFiles/verifier_client.dir/verifier.grpc.pb.cc.o
pai/pouw/verification/verifier_client/cmake-build-debug/CMakeFiles/verifier_client.dir/verifier.pb.cc.o
pai/pouw/verification/verifier_client/cmake-build-debug/CMakeFiles/verifier_client.dir/verifier_client.cc.o
pai/pouw/verification/verifier_client/cmake-build-debug/ClientVerifier.cbp
pai/pouw/verification/verifier_client/cmake-build-debug/Makefile
pai/pouw/verification/verifier_client/cmake-build-debug/cmake_install.cmake
pai/pouw/verification/verifier_client/cmake-build-debug/verifier.grpc.pb.cc
pai/pouw/verification/verifier_client/cmake-build-debug/verifier.grpc.pb.h
pai/pouw/verification/verifier_client/cmake-build-debug/verifier.pb.cc
pai/pouw/verification/verifier_client/cmake-build-debug/verifier.pb.h
data/t10k-images-idx3-ubyte.gz
data/t10k-labels-idx1-ubyte.gz
data/train-images-idx3-ubyte.gz
data/train-labels-idx1-ubyte.gz
output/*
bucket/*