mxnet~=1.8.0.post0
numpy~=1.19.5
redis~=3.5.3
urllib3
blspy
botocore
merkletools~=1.0.3
requests~=2.26.0
grpcio
protobuf
livestats~=1.0
pyyaml~=5.4.1
bitcoin-python~=0.3
base58~=2.1.0
mock~=4.0.3
python-bitcoinrpc
pyzmq~=22.1.0
six~=1.16.0
setuptools~=57.2.0